{% extends "base.html" %}
{% load static %}

{% block head %}
<title>Añadir Proyecto</title>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
        integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ=="
        crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
      integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
      crossorigin="anonymous">
{%endblock %}
{% block content %}
<br><br><br><br>
<font size="3">

  <h1>Agregar Proyecto</h1>
  <form method="post">
    {% csrf_token %}
    <label for="titulo">Titulo:</label>
    <input type="text" id="titulo" name="titulo" required><br>

    <label for="lenguaje">Lenguaje:</label>
    <input type="text" id="lenguaje" name="lenguaje" required><br>

    <label for="tecnologias">Tecnologias:</label>
    <input type="text" id="tecnologias" name="tecnologias" required><br>

    <label for="observaciones">Email:</label>
    <input type="text" id="observaciones" name="email" required><br>

    <label for="fecha_publicacion">Fecha</label>
    <input type="date" id="fecha_publicacion" name="fecha_publicacion" required><br>

    <button type="submit">Guardar Proyecto</button>

  </form>
</font>
{% endblock content %}